/* Skills.scss */

.skills-section {
  padding: 2rem;

  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #333;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

 .skills {
  flex: 1;
  min-width: 300px;

  .sub-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #555;
    font-weight: 600;
  }

  .skills-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; // Default gap for larger screens

    .skill-badge {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-size: 0.9rem;
      font-weight: bold;
      color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  // Media query for smaller screens
  @media (max-width: 768px) {
    .skills-badges {
      gap: 0.5rem; // Smaller gap for smaller screens
    }
  }
}


  .experiences {
    flex: 1;
    min-width: 300px;

    .sub-title {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      color: #555;
      font-weight: 600;
    }

    .experience-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .experience-item {
        .experience-duration {
          font-size: 0.9rem;
          color: #777;
          margin-bottom: 0.5rem;
        }

        .experience-details {
          background: #fff;
          border-radius: 8px;
          padding: 1rem;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

          .experience-title {
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 0.5rem;
          }

          .experience-company {
            font-size: 1rem;
            color: #1e90ff;
            margin-bottom: 0.5rem;
            display: inline-block;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .experience-description {
            font-size: 0.9rem;
            color: #555;
          }
        }
      }
    }
  }
}
